Repository eval-hub/eval-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, pytest-unit, go-test

mypy-check:
  name: mypy type checking
  entry: uv
  args:
  - run
  - mypy
  - --exclude
  - python-server/(build|setup\.py)
  - python-server/
  language: system
  pass_filenames: false

pytest-unit:
  name: unit tests
  entry: bash
  args:
  - -c
  - 'if [ -d python-server/tests ]; then uv run pytest python-server/tests/ -m "unit" --tb=short -q; else echo "Skipping: python-server/tests/ not found"; fi'
  language: system
  pass_filenames: false

go-test:
  name: go unit and FVT tests
  entry: make
  args:
  - clean
  - build
  - test-all
  language: system
  pass_filenames: false

fix(local): prevent orphaned job directories from cancel race condition
  internal/eval_hub/runtimes/local/local_runtime.go
  internal/eval_hub/runtimes/local/local_runtime_test.go
Due: go-test

fix(test): remove redundant cancellation step from evaluation scenario
  tests/features/evaluations.feature
Due: none

fix(test): remove redundant cancellation step from evaluation scenario (#472)
  tests/features/evaluations.feature
Due: none

feat: HF proxy
  internal/eval_hub/config/sidecar_config.go
  internal/eval_hub/runtimes/k8s/job_builders.go
  internal/eval_hub/runtimes/k8s/job_builders_test.go
  internal/eval_hub/runtimes/k8s/job_config_test.go
  internal/eval_hub/runtimes/k8s/sidecar_config_json.go
  internal/eval_runtime_sidecar/handlers/handlers.go
  internal/eval_runtime_sidecar/handlers/handlers_test.go
  internal/eval_runtime_sidecar/proxy/auth.go
  internal/eval_runtime_sidecar/proxy/auth_test.go
  internal/eval_runtime_sidecar/proxy/http_client.go
  internal/eval_runtime_sidecar/proxy/http_client_test.go
  internal/eval_runtime_sidecar/proxy/huggingface_proxy.go
  internal/eval_runtime_sidecar/proxy/huggingface_proxy_test.go
  internal/eval_runtime_sidecar/proxy/huggingface_redirect.go
  internal/eval_runtime_sidecar/proxy/huggingface_redirect_test.go
Due: go-test

chore: remove SERVICE_URL env var dependency from runtimes
  internal/eval_hub/runtimes/k8s/k8s_runtime_test.go
  internal/eval_hub/runtimes/k8s/k8s_runtime_unit_test.go
  internal/eval_hub/runtimes/local/local_runtime.go
  internal/eval_hub/runtimes/local/local_runtime_test.go
  internal/eval_hub/runtimes/runtime.go
Due: go-test

test: add collection test scenarios for soft delete, weighted benchmarks, and OOB collections
  tests/features/collections.feature
Due: none

test: fix weight field location and error message assertion
  tests/features/collections.feature
Due: none

refactor(handlers): enhance OpenAPI handler to support directory-based spec resolution
  internal/eval_hub/handlers/openapi.go
  internal/eval_hub/handlers/openapi_test.go
Due: go-test

Revert "fix: update Go to 1.25.9 to address CVEs in standard library"
  go.mod
Due: none

test: split collection scenarios to test single behaviors
  tests/features/collections.feature
Due: none

test: fix tenant scope filtering and docstring formatting
  tests/features/collections.feature
Due: none

feat(test): replace stub runtime with eval-hub-sdk adapter for local FVT
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  config/providers/garak-kfp.yaml
  config/providers/garak.yaml
  config/providers/guidellm.yaml
  config/providers/ibm-clear.yaml
  config/providers/lighteval.yaml
  config/providers/lm_evaluation_harness.yaml
  tests/features/evaluations.feature
  tests/features/step_definitions_test.go
  tests/features/suite_test.go
  tests/features/test_data/runtime/main.py
Due: go-test

fix: set Job backoffLimit to 0 (no pod retries)
  internal/eval_hub/runtimes/k8s/examples/eval-job.yaml
  internal/eval_hub/runtimes/k8s/job_builders.go
Due: go-test

docs: fix incorrect field names and types in MLFLOW.md payload examples
  MLFLOW.md
Due: none

test: add @cluster tag to evaluation job scenarios in collections and evaluations features
  tests/features/collections.feature
  tests/features/evaluations.feature
Due: none

test: add @local tag to evaluation job scenarios in evaluations.feature
  tests/features/evaluations.feature
Due: none

ci: comment out macos-13 x86_64 validation (no available GHA runner)
  .github/workflows/wheel-validation.yml
Due: none

ci: add linux-arm64 and darwin-amd64 to wheel validation workflow
  .github/workflows/wheel-validation.yml
Due: none

ci(local): wheel validation in GHA
  .github/workflows/wheel-validation.yml
Due: none

ci(local): wheel validation in GHA
  .github/workflows/wheel-validation.yml
  python-server/evalhub_server/__init__.py
  python-server/evalhub_server/main.py
  python-server/tests/test_main.py
Due: mypy-check, pytest-unit

fix: restore docstring and comments in main.py entry point
  python-server/evalhub_server/main.py
Due: mypy-check, pytest-unit

fix: resolve binary path before version flag check
  python-server/evalhub_server/main.py
  python-server/tests/test_main.py
Due: mypy-check, pytest-unit

test: fix collection tests and add negative tags
  tests/features/README.md
  tests/features/collections.feature
  tests/features/evaluation_jobs.feature
  tests/features/evaluations.feature
  tests/features/health.feature
  tests/features/providers.feature
  tests/features/step_definitions_test.go
Due: go-test

docs: fix review comments
  tests/features/README.md
  tests/features/step_definitions_test.go
Due: go-test

ci: integrate wheel validation into publish workflow
  .github/workflows/publish-python-server.yml
  .github/workflows/wheel-validation.yml
  Makefile
Due: none

test: enhance collection response validation in feature tests
  tests/features/collections.feature
  tests/features/step_definitions_test.go
Due: go-test

refactor: remove unnecessary value substitution in response validation
  tests/features/step_definitions_test.go
Due: go-test

refactor: improve error handling in JSON path response validation
  tests/features/step_definitions_test.go
Due: go-test

test: enhance collection response validation in feature tests (#485)
  tests/features/collections.feature
  tests/features/step_definitions_test.go
Due: go-test

test: enhance evaluation job scenarios and add wait deadline configuration
  internal/eval_hub/storage/sql/evaluations_test.go
  tests/features/evaluation_jobs.feature
  tests/features/evaluations.feature
  tests/features/step_definitions_test.go
Due: go-test

test: improve error handling for wait deadline in scenario configuration
  tests/features/step_definitions_test.go
Due: go-test

fix(deps): bump protobufjs from 7.5.4 to 7.5.5
  package-lock.json
Due: none

fix(docker): allow docs/openapi files through .dockerignore
  .dockerignore
Due: none

chore: update .dockerignore and Makefile for local Docker image build
  .dockerignore
  Makefile
Due: none

fix: Update Makefile
  Makefile
Due: none

test: fail fast when evaluation job reaches terminal failure state
  tests/features/step_definitions_test.go
Due: go-test

test: improve fast-fail logic for evaluation job status checks
  tests/features/step_definitions_test.go
Due: go-test

fix: enable OCI proxy based on job spec
  internal/eval_hub/config/sidecar_config.go
  internal/eval_runtime_sidecar/handlers/handlers.go
  internal/eval_runtime_sidecar/handlers/handlers_test.go
  internal/eval_runtime_sidecar/proxy/http_client.go
Due: go-test

ci: run @gha-wheel-sanity FVT tests during wheel validation
  .github/workflows/publish-python-server.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  python-server/DEVELOPMENT.md
  scripts/gha_wheel_sanity_test.sh
  tests/features/evaluation_jobs.feature
Due: none

fix(ci): hardcode PORT in wheel sanity test to match server config
  scripts/gha_wheel_sanity_test.sh
Due: none

Path conditions:
  mypy-check: any of: ^python-server/ and \.py$
  pytest-unit: any of: ^python-server/ and \.py$
  go-test: any of: \.go$
