Repository eval-hub/eval-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, pytest-unit, go-test

mypy-check:
  name: mypy type checking
  entry: uv
  args:
  - run
  - mypy
  - --exclude
  - python-server/(build|setup\.py)
  - python-server/
  language: system
  pass_filenames: false

pytest-unit:
  name: unit tests
  entry: bash
  args:
  - -c
  - 'if [ -d python-server/tests ]; then uv run pytest python-server/tests/ -m "unit" --tb=short -q; else echo "Skipping: python-server/tests/ not found"; fi'
  language: system
  pass_filenames: false

go-test:
  name: go unit and FVT tests
  entry: make
  args:
  - clean
  - build
  - test-all
  language: system
  pass_filenames: false

docs(local): move local mode documentation to eval-hub.github.io
  LOCAL_MODE.md
  README.md
  examples/local-lighteval/pyproject.toml
  examples/local-lighteval/readme.md
Due: none

style: fix indentation and remove temporary tags
  tests/features/evaluation_jobs.feature
Due: none

test(evaluation-jobs): add complete E2E tests for all OOB collections
  tests/features/evaluation_jobs.feature
Due: none

fix(fvt): add GET requests after wait steps in OOB collection scenarios
  tests/features/evaluation_jobs.feature
Due: none

chore: improve MCP transport documentation
  .claude/rules/evalhub-mcp-service.md
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  cmd/evalhub_mcp/main.go
  config/mcp_local.yaml
  internal/evalhub_mcp/config/config.go
  internal/evalhub_mcp/config/config_test.go
  internal/evalhub_mcp/server/server.go
  internal/evalhub_mcp/server/server_test.go
  tests/mcp/CLAUDE_CODE_INTEGRATION.md
  tests/mcp/scripts/part2_http_transport.sh
Due: go-test

test(mcp): fix data race reading slog buffer in legacy HTTP-SSE test
  internal/evalhub_mcp/server/server_test.go
Due: go-test

chore: improve MCP transport documentation (#579)
  .claude/rules/evalhub-mcp-service.md
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  cmd/evalhub_mcp/main.go
  config/mcp_local.yaml
  internal/evalhub_mcp/config/config.go
  internal/evalhub_mcp/config/config_test.go
  internal/evalhub_mcp/server/server.go
  internal/evalhub_mcp/server/server_test.go
  tests/mcp/CLAUDE_CODE_INTEGRATION.md
  tests/mcp/scripts/part2_http_transport.sh
Due: go-test

feat(tests): enhance MCP integration tests for VS Code with new functionalities
  Makefile
  scripts/start_mcp.sh
  tests/mcp/vscode/VSCODE_CURSOR_TEST_PLAN.md
  tests/mcp/vscode/test-scripts/common/mcp_client.sh
  tests/mcp/vscode/test-scripts/reports/parity_stdio.txt
  tests/mcp/vscode/test-scripts/reports/prompt_fidelity_http.json
  tests/mcp/vscode/test-scripts/reports/prompt_fidelity_stdio.json
  tests/mcp/vscode/test-scripts/run_tests.sh
  tests/mcp/vscode/test-scripts/test.env
  tests/mcp/vscode/test-scripts/test.env.example
  tests/mcp/vscode/test-scripts/tests/01_server_discovery.sh
  tests/mcp/vscode/test-scripts/tests/02_resources.sh
  tests/mcp/vscode/test-scripts/tests/03_tools.sh
  tests/mcp/vscode/test-scripts/tests/04_prompts.sh
  tests/mcp/vscode/test-scripts/tests/05_autocompletion.sh
  tests/mcp/vscode/test-scripts/tests/06_error_scenarios.sh
  tests/mcp/vscode/test-scripts/tests/07_e2e_workflow.sh
  tests/mcp/vscode/test-scripts/tests/08_client_specific.sh
Due: none

refactor(mcp): streamline MCP startup script and update test configurations
  scripts/start_mcp.sh
  tests/mcp/vscode/VSCODE_CURSOR_TEST_PLAN.md
  tests/mcp/vscode/test-scripts/common/mcp_client.sh
  tests/mcp/vscode/test-scripts/generate_client_configs.sh
  tests/mcp/vscode/test-scripts/reports/client-configs/cursor-stdio.json
  tests/mcp/vscode/test-scripts/reports/client-configs/vscode-http.jsonc
  tests/mcp/vscode/test-scripts/reports/client-configs/vscode-stdio.jsonc
  tests/mcp/vscode/test-scripts/test.env
  tests/mcp/vscode/test-scripts/test.env.example
  tests/mcp/vscode/test-scripts/tests/01_server_discovery.sh
  tests/mcp/vscode/test-scripts/tests/03_tools.sh
  tests/mcp/vscode/test-scripts/tests/05_autocompletion.sh
  tests/mcp/vscode/test-scripts/tests/06_error_scenarios.sh
Due: none

refactor(tests): enhance test framework and remove obsolete reports
  tests/mcp/vscode/test-scripts/common/test_framework.sh
  tests/mcp/vscode/test-scripts/reports/client-configs/cursor-http.json
  tests/mcp/vscode/test-scripts/reports/client-configs/cursor-stdio.json
  tests/mcp/vscode/test-scripts/reports/client-configs/vscode-http.jsonc
  tests/mcp/vscode/test-scripts/reports/client-configs/vscode-stdio.jsonc
  tests/mcp/vscode/test-scripts/reports/parity_http.txt
  tests/mcp/vscode/test-scripts/reports/parity_stdio.txt
  tests/mcp/vscode/test-scripts/reports/prompt_fidelity_http.json
  tests/mcp/vscode/test-scripts/reports/prompt_fidelity_stdio.json
Due: none

chore(.gitignore): add report directory to ignore list
  .gitignore
Due: none

fix(tests): update test plan and error handling in MCP scripts
  tests/mcp/vscode/VSCODE_CURSOR_TEST_PLAN.md
  tests/mcp/vscode/test-scripts/common/mcp_client.sh
  tests/mcp/vscode/test-scripts/common/test_framework.sh
  tests/mcp/vscode/test-scripts/tests/05_autocompletion.sh
  tests/mcp/vscode/test-scripts/tests/07_e2e_workflow.sh
Due: none

fix(tests): enhance error logging in evaluation job status check
  tests/features/step_definitions_test.go
Due: go-test

fix(fvt): add auth secret reference to OOB collection test scenarios
  tests/features/evaluation_jobs.feature
Due: none

chore(examples): update lighteval example to use stable PyPI release
  examples/local-lighteval/pyproject.toml
Due: none

feat(tests): add regex matching step and @slow tag
  tests/features/evaluation_jobs.feature
  tests/features/step_definitions_test.go
Due: go-test

chore(examples): update lighteval example to use stable PyPI release (#583)
  examples/local-lighteval/pyproject.toml
Due: none

test: FVT tests for providers with GPU requirement
  tests/features/gpu_resources.feature
  tests/features/gpu_step_definitions_test.go
  tests/features/step_definitions_test.go
  tests/features/test_data/gpu_job_no_queue_with_selector_a100.json
  tests/features/test_data/gpu_job_no_queue_with_selector_h100.json
Due: go-test

docs: regenerated API docs
  docs/index-private.html
  docs/index-public.html
  docs/index.html
Due: none

docs: regenerated API docs
  docs/index-private.html
  docs/index-public.html
  docs/index.html
  package-lock.json
  package.json
Due: none

fix: Added unit tests and addressed coderabbit comments
  internal/eval_hub/config/loader_gpu_test.go
  internal/eval_hub/handlers/providers_gpu_test.go
  internal/eval_hub/storage/sql/providers_gpu_test.go
  package.json
  tests/features/GPU_TESTING.md
  tests/features/gpu_step_definitions_test.go
  tests/features/step_definitions_test.go
Due: go-test

fix: unit tests and addressed coderabbit comments
  internal/eval_hub/config/loader_gpu_test.go
  pkg/api/providers_gpu_test.go
  tests/features/GPU_TESTING.md
Due: go-test

docs: regenerated API docs
  docs/index-private.html
  docs/index-public.html
  docs/index.html
  go.mod
  package-lock.json
  package.json
Due: none

fix: to remove redundant dependency
  go.mod
  go.sum
  internal/eval_hub/config/loader.go
Due: go-test

fix: for coderabbit comment
  internal/eval_hub/config/loader.go
  internal/eval_hub/config/loader_decode_hook_test.go
Due: go-test

fix: formatting
  internal/eval_hub/config/loader_decode_hook_test.go
Due: go-test

fix: GPU testing docs to remove manual testing section
  tests/features/GPU_TESTING.md
Due: none

fix(sidecar): prepend target path prefix when proxying MLflow requests
  internal/eval_runtime_sidecar/proxy/proxy.go
  internal/eval_runtime_sidecar/proxy/proxy_test.go
Due: go-test

feat(collections): add standard LLM evaluation suite for vLLM-served chat models
  config/collections/coding-v1.yaml
  config/collections/instruction-following-v1.yaml
  config/collections/long-context-v1.yaml
  config/collections/reasoning-v1.yaml
  config/collections/standard-llm-evals-v1.yaml
  config/providers/lighteval.yaml
  config/providers/lm_evaluation_harness.yaml
Due: none

fix(collections): replace mmlu_pro_chat with leaderboard_mmlu_pro
  config/collections/instruction-following-v1.yaml
  config/collections/reasoning-v1.yaml
  config/collections/standard-llm-evals-v1.yaml
Due: none

refactor: provider config parsing to handle node_selector keys with dot chatacters
  internal/eval_hub/config/loader.go
Due: go-test

refactor: provider config parsing - remove custom decode options
  internal/eval_hub/config/loader.go
  internal/eval_hub/config/loader_decode_hook_test.go
Due: go-test

fix(sidecar): prepend target path prefix when proxying MLflow requests (#585)
  internal/eval_runtime_sidecar/proxy/proxy.go
  internal/eval_runtime_sidecar/proxy/proxy_test.go
Due: go-test

refactor: provider config - parse node_selector with custom delimiter
  internal/eval_hub/config/loader.go
Due: go-test

docs: update swagger with 'gpu' field
  docs/index-private.html
  docs/index-public.html
  docs/index.html
  docs/openapi-internal.json
  docs/openapi-internal.yaml
  docs/openapi.json
  docs/openapi.yaml
  docs/src/components/schemas/GPUConfig.yaml
  docs/src/components/schemas/K8sRuntime.yaml
Due: none

feat(tests): integrate Jsonnet for evaluation job configurations
  go.mod
  go.sum
  tests/features/evaluation_jobs.feature
  tests/features/jsonnet_test.go
  tests/features/step_definitions_test.go
  tests/features/suite_test.go
  tests/features/test_data/evaluation_job.json
  tests/features/test_data/evaluation_job.jsonnet
  tests/features/test_data/evaluation_job_with_auth.json
  tests/features/test_data/evaluation_job_with_collection.json
  tests/features/test_data/evaluation_job_with_mlflow_experiment.json
  tests/features/test_data/jsonnet/test.libsonnet
Due: go-test

fix(python-server): fall back to generic binary when platform-specific one is missing
  python-server/evalhub_server/__init__.py
  python-server/evalhub_server/main.py
  python-server/tests/test_get_binary_path.py
  python-server/tests/test_main.py
Due: mypy-check, pytest-unit

feat(tests): enhance Jsonnet harness environment handling
  tests/features/jsonnet_test.go
  tests/features/step_definitions_test.go
  tests/features/test_data/jsonnet/test.libsonnet
Due: go-test

fix(tests): improve test argument handling in TestMain function
  tests/features/suite_test.go
Due: go-test

fix(python-server): fall back to generic binary when platform-specific one is missing (#589)
  python-server/evalhub_server/__init__.py
  python-server/evalhub_server/main.py
  python-server/tests/test_get_binary_path.py
  python-server/tests/test_main.py
Due: mypy-check, pytest-unit

Path conditions:
  mypy-check: any of: ^python-server/ and \.py$
  pytest-unit: any of: ^python-server/ and \.py$
  go-test: any of: \.go$
