Repository eval-hub/eval-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, pytest-unit, go-test

mypy-check:
  name: mypy type checking
  entry: uv
  args:
  - run
  - mypy
  - --exclude
  - python-server/(build|setup\.py)
  - python-server/
  language: system
  pass_filenames: false

pytest-unit:
  name: unit tests
  entry: bash
  args:
  - -c
  - 'if [ -d python-server/tests ]; then uv run pytest python-server/tests/ -m "unit" --tb=short -q; else echo "Skipping: python-server/tests/ not found"; fi'
  language: system
  pass_filenames: false

go-test:
  name: go unit and FVT tests
  entry: make
  args:
  - clean
  - build
  - test-all
  language: system
  pass_filenames: false

fix: Update tests/features/providers.feature
  tests/features/providers.feature
Due: none

fix(config): update Garak KFP provider image references
  config/providers/garak-kfp.yaml
Due: none

feat(config): add Garak providers to evalhub default config
  config/providers/garak-kfp.yaml
  config/providers/garak.yaml
Due: none

fix: Update config/providers/garak.yaml
  config/providers/garak.yaml
Due: none

fix(config): update Garak KFP provider image references
  config/providers/garak.yaml
Due: none

chore(config): update descriptions for Garak KFP benchmarks
  config/providers/garak-kfp.yaml
Due: none

fix(runtime): assign benchmarkIndex in buildJobConfig struct literal
  internal/eval_hub/runtimes/k8s/job_config.go
  internal/eval_hub/runtimes/k8s/job_config_test.go
Due: go-test

fix(garak): increase garak provider resource limits to prevent OOMKilled
  config/providers/garak.yaml
Due: none

feat(sidecar): add /health endpoint to eval-runtime-sidecar
  internal/eval_runtime_sidecar/handlers/handlers.go
  internal/eval_runtime_sidecar/handlers/handlers_test.go
  internal/eval_runtime_sidecar/server/server.go
  internal/eval_runtime_sidecar/server/server_test.go
Due: go-test

fix(sidecar): remove adapter termination file watcher
  cmd/eval_runtime_sidecar/main.go
  internal/eval_runtime_sidecar/termination/watch.go
  internal/eval_runtime_sidecar/termination/watch_test.go
Due: go-test

chore: fix trailing whitespace, missing newlines, and add types-PyYAML
  COMPATIBILITY.md
  python-server/pyproject.toml
  python-server/tests/test_integration.py
  tests/features/evaluation_jobs.feature
  tests/features/test_data/collection.json
  tests/features/test_data/evaluation_job_multiple_benchmark.json
Due: mypy-check, pytest-unit

chore(deps): update Go module dependencies and CI workflows
  .github/workflows/ci-python-server.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/publish-python-server.yml
  Makefile
  go.mod
  go.sum
Due: none

fix(ci): correct syntax for Gosec action in CI workflow
  .github/workflows/ci.yml
Due: none

fix(ci): update Gosec action syntax for consistency in CI workflow
  .github/workflows/ci.yml
Due: none

fix(ci): update Gosec action to a specific commit hash for consistency in CI workflow
  .github/workflows/ci.yml
Due: none

fix(ci): correct Gosec action syntax by removing 'sha' prefix for consistency in CI workflow
  .github/workflows/ci.yml
Due: none

fix(ci): update Gosec action to a new commit hash for v2.24.6
  .github/workflows/ci.yml
Due: none

chore(dependencies): fix collection fallback and swagger for pass criteria when evaluation job has a collection
  docs/index-private.html
  docs/index-public.html
  docs/index.html
  docs/openapi-internal.json
  docs/openapi-internal.yaml
  docs/openapi.json
  docs/openapi.yaml
  docs/src/components/schemas/EvaluationJobConfigBenchmarks.yaml
  docs/src/components/schemas/EvaluationJobConfigCollection.yaml
  docs/src/components/schemas/EvaluationJobConfigCommon2.yaml
  docs/src/components/schemas/PassCriteriaWithDefault.yaml
  internal/eval_hub/storage/sql/evaluations.go
  package-lock.json
  package.json
Due: go-test

fix(docs): update default threshold value to 0.5
  docs/index-private.html
  docs/index-public.html
  docs/index.html
  docs/openapi-internal.json
  docs/openapi-internal.yaml
  docs/openapi.json
  docs/openapi.yaml
  docs/src/components/schemas/PassCriteriaWithDefault.yaml
Due: none

feat(evaluations): refactor pass criteria handling and add tests for collection fallback
  internal/eval_hub/storage/sql/evaluations.go
  pkg/api/collections.go
  pkg/api/evaluations.go
  tests/features/evaluations.feature
  tests/features/test_data/collection_pass_criteria_aggregate_from_collection_test.json
  tests/features/test_data/evaluation_job_omit_pass_criteria_uses_collection_test.json
Due: go-test

fix(ci): downgrade Gosec action to specific commit hash for v2.24.0
  .github/workflows/ci.yml
Due: none

fix: upgrade Go from 1.25.8 to 1.25.9 to fix CVEs in stdlib
  go.mod
  go.sum
Due: none

feat(sidecar): use native K8s sidecar container pattern with startup probe
  internal/eval_hub/runtimes/k8s/examples/eval-job.yaml
  internal/eval_hub/runtimes/k8s/job_builders.go
  internal/eval_hub/runtimes/k8s/job_builders_test.go
  internal/eval_hub/runtimes/k8s/job_config.go
  internal/eval_hub/runtimes/k8s/k8s_runtime_test.go
  internal/eval_hub/runtimes/k8s/k8s_runtime_unit_test.go
  internal/eval_hub/runtimes/k8s/sidecar_config_json.go
Due: go-test

chore(runtime): remove dead localMode from k8s package
  internal/eval_hub/runtimes/k8s/job_builders.go
  internal/eval_hub/runtimes/k8s/job_builders_test.go
  internal/eval_hub/runtimes/k8s/job_config.go
  internal/eval_hub/runtimes/k8s/k8s_helper.go
Due: go-test

ci: perform periodic check for sync
  .github/workflows/check-trustyai-service-operator-configmap-sync.yml
  scripts/check_configmap_sync.py
Due: none

ci: temporarily add on-pull-request
  .github/workflows/check-trustyai-service-operator-configmap-sync.yml
Due: none

Revert "ci: temporarily add on-pull-request"
  .github/workflows/check-trustyai-service-operator-configmap-sync.yml
Due: none

chore: add badge to README
  README.md
Due: none

chore: pin GHA to digest like others
  .github/workflows/check-trustyai-service-operator-configmap-sync.yml
Due: none

ci: update Go version setup in CI workflows to use go.mod file
  .github/workflows/ci-python-server.yml
  .github/workflows/ci.yml
  .github/workflows/publish-python-server.yml
Due: none

docs: update CLAUDE.md to include usage of go-version-file in GitHub Actions
  CLAUDE.md
Due: none

fix(server): enforce TLS 1.2 minimum version on inbound HTTP servers
  internal/eval_hub/server/server.go
  internal/eval_runtime_sidecar/server/server.go
Due: go-test

fix(config): disable insecure exporter for OpenTelemetry for FIPS fallback
  config/config.yaml
Due: none

feat(security): enhance TLS configuration to support TLS 1.3 and enforce certificate verification in FIPS mode
  internal/eval_hub/server/server.go
  internal/eval_runtime_sidecar/server/server.go
  internal/platform/platform.go
  tests/features/step_definitions_test.go
Due: go-test

feat(tests): add unit tests for ReadFile and IsFIPSFromPath functions
  internal/platform/export_test.go
  internal/platform/platform.go
  internal/platform/platform_test.go
Due: go-test

fix: validate experiment name and update tests
  internal/eval_hub/handlers/evaluations_test.go
  internal/eval_hub/validation/validator.go
  internal/eval_hub/validation/validator_test.go
  pkg/api/evaluations.go
  tests/features/evaluations.feature
  tests/features/step_definitions_test.go
  tests/features/test_data/evaluation_job.json
  tests/features/test_data/evaluation_job_for_pass_criteria_test.json
  tests/features/test_data/evaluation_job_omit_pass_criteria_uses_collection_test.json
  tests/features/test_data/evaluation_job_pass_criteria_from_provider_test.json
  tests/features/test_data/evaluation_job_with_collection.json
  tests/features/test_data/evaluation_job_with_mlflow_experiment.json
Due: go-test

chore: address code review comments
  Makefile
  internal/eval_hub/handlers/evaluations_test.go
  internal/eval_hub/mlflow/mlflow.go
  internal/eval_hub/validation/validator.go
  internal/eval_hub/validation/validator_test.go
  pkg/api/evaluations.go
  tests/features/evaluations.feature
  tests/features/step_definitions_test.go
Due: go-test

refactor(tests): update collection and provider feature tests for dynamic length handling
  tests/features/collections.feature
  tests/features/providers.feature
  tests/features/step_definitions_test.go
Due: go-test

refactor(evaluations): update BenchmarkTest structure to include PrimaryScoreMetric
  internal/eval_hub/storage/sql/evaluations.go
  pkg/api/evaluations.go
Due: go-test

chore: sync Providers from Trusty operator
  config/providers/garak-kfp.yaml
  config/providers/garak.yaml
  config/providers/guidellm.yaml
  config/providers/ibm-clear.yaml
  config/providers/lighteval.yaml
  config/providers/lm_evaluation_harness.yaml
Due: none

Path conditions:
  mypy-check: any of: ^python-server/ and \.py$
  pytest-unit: any of: ^python-server/ and \.py$
  go-test: any of: \.go$
