Repository eval-hub/eval-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, pytest-unit, go-test

mypy-check:
  name: mypy type checking
  entry: uv
  args:
  - run
  - mypy
  - --exclude
  - python-server/(build|setup\.py)
  - python-server/
  language: system
  pass_filenames: false

pytest-unit:
  name: unit tests
  entry: bash
  args:
  - -c
  - 'if [ -d python-server/tests ]; then uv run pytest python-server/tests/ -m "unit" --tb=short -q; else echo "Skipping: python-server/tests/ not found"; fi'
  language: system
  pass_filenames: false

go-test:
  name: go unit and FVT tests
  entry: make
  args:
  - clean
  - build
  - test-all
  language: system
  pass_filenames: false

test: :bug: fix mlflow experiment names when running without `MLFLOW_TRACKING_URI`
  tests/features/step_definitions_test.go
  tests/features/test_data/evaluation_job_for_pass_criteria_test.json
  tests/features/test_data/evaluation_job_pass_criteria_from_provider_test.json
Due: go-test

fix: reject evaluation with experiment if MLFlow is not configured
  internal/eval_hub/handlers/evaluations.go
  internal/eval_hub/handlers/evaluations_test.go
  internal/eval_hub/mlflow/mlflow.go
  tests/features/evaluations.feature
  tests/features/test_data/evaluation_job.json
  tests/features/test_data/evaluation_job_missing_name.json
  tests/features/test_data/evaluation_job_with_collection.json
Due: go-test

test: revert back
  tests/features/evaluations.feature
  tests/features/test_data/evaluation_job.json
  tests/features/test_data/evaluation_job_missing_name.json
  tests/features/test_data/evaluation_job_with_collection.json
Due: none

test: :sparkles: include postgres when running the unit tests
  Makefile
  README.md
  auth/export_test.go
  auth/rules_test.go
  internal/eval_hub/abstractions/storage_test.go
  internal/eval_hub/common/common_test.go
  internal/eval_hub/config/config_test.go
  internal/eval_hub/executioncontext/execution_context_test.go
  internal/eval_hub/storage/sql/evaluations_test.go
  internal/eval_hub/storage/sql/postgres_test.go
  internal/eval_hub/storage/sql/providers_test.go
  internal/eval_hub/storage/sql/shared/database_config.go
  internal/eval_hub/storage/sql/sql_test.go
  tests/postgres/Makefile
Due: go-test

feat: add Kueue queue support for evaluation jobs
  config/config.yaml
  internal/eval_hub/abstractions/runtime.go
  internal/eval_hub/config/service_config.go
  internal/eval_hub/handlers/evaluations.go
  internal/eval_hub/handlers/evaluations_test.go
  internal/eval_hub/messages/messages.go
  internal/eval_hub/runtimes/k8s/job_builders.go
  internal/eval_hub/runtimes/k8s/job_builders_test.go
  internal/eval_hub/runtimes/k8s/job_config.go
  internal/eval_hub/runtimes/k8s/job_config_test.go
  internal/eval_hub/runtimes/k8s/k8s_helper.go
  internal/eval_hub/runtimes/k8s/k8s_helper_test.go
  internal/eval_hub/runtimes/k8s/k8s_runtime.go
  internal/eval_hub/runtimes/local/local_runtime.go
  internal/eval_hub/server/server_test.go
  pkg/api/evaluations.go
Due: go-test

feat(lighteval): add AIME24 and AIME25 reasoning benchmarks
  config/providers/lighteval.yaml
Due: none

feat: only apply kueue queue label when queue kind is 'kueue'
  internal/eval_hub/runtimes/k8s/job_config.go
  internal/eval_hub/runtimes/k8s/job_config_test.go
Due: go-test

fix(cve): remediate npm dependency vulnerabilities
  package-lock.json
  package.json
Due: none

fix(collections): remove redundant AIME aliases
  config/providers/lighteval.yaml
Due: none

fix(deps): resolve npm CVEs in brace-expansion, semver, and yaml
  package-lock.json
  package.json
Due: none

chore: update CLAUDE.md with improved command descriptions
  CLAUDE.md
Due: none

fix: spelling
  CLAUDE.md
Due: none

fix: resolve npm dependency CVEs (semver, brace-expansion, yaml)
  package-lock.json
  package.json
Due: none

chore: update CLAUDE.md with CVE fixing instructions
  CLAUDE.md
Due: none

chore: update CLAUDE.md with CVE fixing instructions (#403)
  CLAUDE.md
Due: none

ci: add python-server integration tests and CI workflow
  .github/workflows/ci-python-server.yml
  .github/workflows/publish-python-server.yml
  Makefile
  python-server/pyproject.toml
  python-server/tests/test_integration.py
  python-server/uv.lock
Due: mypy-check, pytest-unit

test: :sparkles: include postgres when running the unit tests
  internal/eval_hub/storage/sql/evaluations_test.go
  internal/eval_hub/storage/sql/postgres_test.go
  tests/postgres/Makefile
Due: go-test

chore: impl code review feedback
  python-server/tests/test_integration.py
Due: mypy-check, pytest-unit

fix: address CodeRabbit review feedback
  tests/features/evaluations_cluster_validation.feature
  tests/features/test_data/collection_cluster.json
Due: none

test: :sparkles: include postgres when running the unit tests
  internal/eval_hub/storage/sql/postgres_test.go
  internal/eval_hub/storage/sql/sql_test.go
Due: go-test

test: :sparkles: include postgres when running the unit tests
  internal/eval_hub/storage/sql/postgres_test.go
Due: go-test

refactor: remove queue name validation from evaluation job creation
  internal/eval_hub/abstractions/runtime.go
  internal/eval_hub/handlers/evaluations.go
  internal/eval_hub/handlers/evaluations_test.go
  internal/eval_hub/messages/messages.go
  internal/eval_hub/runtimes/k8s/k8s_helper.go
  internal/eval_hub/runtimes/k8s/k8s_helper_test.go
  internal/eval_hub/runtimes/k8s/k8s_runtime.go
  internal/eval_hub/runtimes/local/local_runtime.go
  internal/eval_hub/server/server_test.go
Due: go-test

fix: restore file permissions to 644
  config/config.yaml
  internal/eval_hub/abstractions/runtime.go
  internal/eval_hub/config/service_config.go
  internal/eval_hub/handlers/evaluations.go
  internal/eval_hub/handlers/evaluations_test.go
  internal/eval_hub/messages/messages.go
  internal/eval_hub/runtimes/k8s/job_builders.go
  internal/eval_hub/runtimes/k8s/job_builders_test.go
  internal/eval_hub/runtimes/k8s/job_config.go
  internal/eval_hub/runtimes/k8s/job_config_test.go
  internal/eval_hub/runtimes/k8s/k8s_helper.go
  internal/eval_hub/runtimes/k8s/k8s_helper_test.go
  internal/eval_hub/runtimes/k8s/k8s_runtime.go
  internal/eval_hub/runtimes/local/local_runtime.go
  internal/eval_hub/server/server_test.go
  pkg/api/evaluations.go
Due: go-test

refactor: remove kueue_enabled feature flag
  config/config.yaml
  internal/eval_hub/config/service_config.go
  internal/eval_hub/runtimes/k8s/job_config.go
  internal/eval_hub/runtimes/k8s/job_config_test.go
Due: go-test

fix: restore file permissions to 644
  config/config.yaml
  internal/eval_hub/config/service_config.go
  internal/eval_hub/runtimes/k8s/job_config.go
  internal/eval_hub/runtimes/k8s/job_config_test.go
Due: go-test

fix: formatting
  internal/eval_hub/handlers/evaluations_test.go
Due: go-test

fix: allow commit messages beginning with 'merge:' (auto-committed by claude)
  .github/workflows/commitlint.yml
Due: none

fix: restore file permissions to 644
  internal/eval_hub/runtimes/k8s/job_config.go
Due: go-test

fix: trim whitespace from kueue queue name before applying label
  internal/eval_hub/runtimes/k8s/job_config.go
Due: go-test

test: :bug: fixing startup of postgres on linux
  internal/eval_hub/storage/sql/evaluations_test.go
  internal/eval_hub/storage/sql/postgres_test.go
  tests/postgres/Makefile
Due: go-test

fix: Update internal/eval_hub/storage/sql/shared/database_config.go
  internal/eval_hub/storage/sql/shared/database_config.go
Due: go-test

fix: bad commit from coderabbitai
  internal/eval_hub/storage/sql/shared/database_config.go
Due: go-test

fix: quoted schema name
  tests/postgres/Makefile
Due: none

test: :bug: fixing startup of postgres on linux
  tests/postgres/Makefile
Due: none

test: add unit tests for SQLDatabaseConfig methods
  internal/eval_hub/storage/sql/shared/database_config_test.go
Due: go-test

fix: correct package installation command for PostgreSQL on Linux
  tests/postgres/Makefile
Due: none

ci: pin GitHub Actions to SHA digests for supply chain security
  .github/workflows/ci-python-server.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/publish-python-server.yml
Due: none

ci: add guidance files for CVE-fixer
  .github/workflows/cve_fix_guidance/downstream.md
  .github/workflows/cve_fix_guidance/upstream.md
Due: none

Path conditions:
  mypy-check: any of: ^python-server/ and \.py$
  pytest-unit: any of: ^python-server/ and \.py$
  go-test: any of: \.go$
