Repository eval-hub/eval-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, pytest-unit, go-test

.pre-commit-config.yaml:

# Pre-commit configuration for eval-hub
repos:
  # Ruff linting and formatting (replaces black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^examples/api_examples\.ipynb$
      - id: ruff-format
        exclude: ^examples/api_examples\.ipynb$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^docs/.*\.(html|json)$
      - id: end-of-file-fixer
        exclude: ^docs/.*\.(html|json)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
        exclude: ^(examples/api_examples\.ipynb|\.vscode/.*)$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: debug-statements

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.9
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Local checks
  - repo: local
    hooks:
      - id: mypy-check
        name: mypy type checking
        #  run with uv
        entry: uv
        args: [run, mypy, --exclude, "python-server/(build|setup\\.py)", python-server/]
        language: system
        types: [python]
        pass_filenames: false
        files: ^python-server/

      - id: pytest-unit
        name: unit tests
        entry: bash
        args: [-c, 'if [ -d python-server/tests ]; then uv run pytest python-server/tests/ -m "unit" --tb=short -q; else echo "Skipping: python-server/tests/ not found"; fi']
        language: system
        types: [python]
        pass_filenames: false
        files: ^python-server/

      - id: go-test
        name: go unit and FVT tests
        entry: make
        args: [clean, build, test-all]
        language: system
        types: [go]
        pass_filenames: false

fix: RHOAIENG-66269 - trim queue names before validation
  internal/eval_hub/handlers/collections.go
  internal/eval_hub/handlers/evaluations.go
  internal/eval_hub/handlers/evaluations_test.go
  internal/eval_hub/handlers/providers.go
  internal/eval_hub/serialization/json.go
  internal/eval_hub/serialization/json_test.go
  internal/eval_hub/validation/validator_test.go
  pkg/api/evaluations.go
  pkg/api/evaluations_test.go
Due: go-test

feat(providers): expose agent metadata fields in API and OpenAPI schemas
  docs/index-private.html
  docs/index-public.html
  docs/index.html
  docs/openapi-internal.json
  docs/openapi-internal.yaml
  docs/openapi.json
  docs/openapi.yaml
  docs/src/components/schemas/AgentMetadata.yaml
  docs/src/components/schemas/BenchmarkAgentMetadata.yaml
  docs/src/components/schemas/BenchmarkResource.yaml
  docs/src/components/schemas/ProviderConfig.yaml
  docs/src/components/schemas/ScoreRange.yaml
  internal/eval_hub/handlers/providers.go
  pkg/api/collections.go
  pkg/api/providers.go
Due: go-test

fix(fvt): use disconnected-aware tokenizer in cluster job tests
  tests/features/evaluation_jobs.feature
  tests/features/step_definitions_test.go
  tests/features/test_data/collection.jsonnet
  tests/features/test_data/collection_job_parameters.jsonnet
  tests/features/test_data/collection_multi_benchmark.jsonnet
  tests/features/test_data/collection_threshold_zero.jsonnet
  tests/features/test_data/evaluation_job_kueue.jsonnet
  tests/features/test_data/evaluation_job_kueue_name_only.jsonnet
  tests/features/test_data/evaluation_job_kueue_shared_job1.jsonnet
  tests/features/test_data/evaluation_job_kueue_shared_job2.jsonnet
  tests/features/test_data/evaluation_job_kueue_tags_criteria.jsonnet
  tests/features/test_data/evaluation_job_kueue_whitespace.jsonnet
  tests/features/test_data/evaluation_job_multiple_benchmark.jsonnet
  tests/features/test_data/jsonnet/test.libsonnet
Due: go-test

test: Add tests to improve coverage
  internal/eval_hub/server/server_test.go
Due: go-test

test: Add tests to improve coverage
  internal/eval_hub/server/server_identity_test.go
Due: go-test

test(fvt): add unit tests for disconnected-aware jsonnet payloads
  tests/features/jsonnet_test.go
Due: go-test

feat(evalhub-mcp): add HTTP authentication for MCP server
  MCP.md
  go.mod
  go.sum
  internal/evalhub_mcp/config/config.go
  internal/evalhub_mcp/config/config_auth_test.go
  internal/evalhub_mcp/config/config_test.go
  internal/evalhub_mcp/server/oidc_verifier.go
  internal/evalhub_mcp/server/oidc_verifier_test.go
  internal/evalhub_mcp/server/server.go
Due: go-test

feat(evalhub-mcp): add HTTP authentication for MCP server
  internal/evalhub_mcp/server/server.go
Due: go-test

fix: Formatting
  pkg/api/providers.go
Due: go-test

feat(mcp): enhance documentation and error handling for authentication
  MCP.md
  internal/evalhub_mcp/server/server.go
Due: go-test

fix(api): add required validation to ScoreRange fields
  pkg/api/providers.go
Due: go-test

feat(mcp): add CLI flag for auth type and enhance documentation
  MCP.md
  cmd/evalhub_mcp/main.go
  cmd/evalhub_mcp/main_test.go
  internal/evalhub_mcp/config/config.go
  internal/evalhub_mcp/config/config_auth_test.go
Due: go-test

fix(docs): Regenerate docs
  docs/index-private.html
  docs/index-public.html
  docs/index.html
Due: none

fix: update internal/evalhub_mcp/config/config_test.go
  internal/evalhub_mcp/config/config_test.go
Due: go-test

feat(providers): expose agent metadata fields in API and OpenAPI schemas (#627)
  docs/index-private.html
  docs/index-public.html
  docs/index.html
  docs/openapi-internal.json
  docs/openapi-internal.yaml
  docs/openapi.json
  docs/openapi.yaml
  docs/src/components/schemas/AgentMetadata.yaml
  docs/src/components/schemas/BenchmarkAgentMetadata.yaml
  docs/src/components/schemas/BenchmarkResource.yaml
  docs/src/components/schemas/ProviderConfig.yaml
  docs/src/components/schemas/ScoreRange.yaml
  internal/eval_hub/handlers/providers.go
  pkg/api/collections.go
  pkg/api/providers.go
Due: go-test

fix: clarify OIDC insecure configuration and enhance tests
  MCP.md
  internal/evalhub_mcp/config/config.go
  internal/evalhub_mcp/config/config_auth_test.go
  internal/evalhub_mcp/config/config_test.go
  internal/evalhub_mcp/server/completions.go
  internal/evalhub_mcp/server/completions_test.go
  internal/evalhub_mcp/server/oidc_verifier.go
  internal/evalhub_mcp/server/oidc_verifier_test.go
  internal/evalhub_mcp/server/prompts.go
  internal/evalhub_mcp/server/request_context.go
  internal/evalhub_mcp/server/request_context_test.go
  internal/evalhub_mcp/server/resources.go
  internal/evalhub_mcp/server/server.go
  internal/evalhub_mcp/server/tools.go
  internal/evalhub_mcp/server/version_resource.go
Due: go-test

fix: update MCP.md
  MCP.md
Due: none

fix(mcp): disable go-sdk localhost DNS-rebinding protection behind kube-rbac-proxy
  internal/evalhub_mcp/server/server.go
Due: go-test

ci: bump GitHub Actions to latest releases
  .github/workflows/ci.yml
Due: none

ci: disable persist-credentials for actions/checkout in CI workflow
  .github/workflows/ci.yml
Due: none

ci: enable caching for Go and uv setup in CI workflow
  .github/workflows/ci.yml
Due: none

ci: update action versions and enable caching in CI workflow
  .github/workflows/ci-mcp.yml
Due: none

ci: update action versions and configuration in CI workflow
  .github/workflows/check-trustyai-service-operator-configmap-sync.yml
Due: none

ci: update actions/checkout version and disable credential persistence
  .github/workflows/required-reviewer-approvals.yml
Due: none

ci: bump GitHub Actions to latest releases (#630)
  .github/workflows/check-trustyai-service-operator-configmap-sync.yml
  .github/workflows/ci-mcp.yml
  .github/workflows/ci.yml
  .github/workflows/required-reviewer-approvals.yml
Due: none

fix(evalhub-mcp): wire EVALHUB_CA_CERT_PATH into the EvalHub HTTP client
  internal/evalhub_mcp/config/config.go
  internal/evalhub_mcp/config/config_test.go
  internal/evalhub_mcp/server/server.go
  pkg/evalhubclient/client.go
Due: go-test

feat(wheel): install Go binary directly into bin/ without Python wrapper
  .github/workflows/ci-python-server.yml
  .github/workflows/publish-python-server.yml
  .pre-commit-config.yaml
  Makefile
  python-server/.gitignore
  python-server/DEVELOPMENT.md
  python-server/README.md
  python-server/evalhub_server/__init__.py
  python-server/evalhub_server/binaries/.gitkeep
  python-server/evalhub_server/main.py
  python-server/pyproject.toml
  python-server/setup.py
  python-server/shims/eval-hub-server
  python-server/shims/eval-hub-server.cmd
  python-server/tests/test_get_binary_path.py
  python-server/tests/test_integration.py
  python-server/tests/test_main.py
  python-server/uv.lock
Due: mypy-check, pytest-unit

feat(wheel): add CI wheel sanity test and configurable FVT poll interval
  .github/workflows/ci-python-server.yml
  python-server/README.md
  tests/features/evaluation_local_jobs.feature
  tests/features/step_definitions_test.go
Due: go-test

fix(wheel): install binaries into Scripts/ on Windows wheels
  .github/workflows/publish-python-server.yml
  python-server/pyproject.toml
  python-server/setup.py
Due: mypy-check, pytest-unit

fix(wheel): enforce CRLF for .cmd shim and simplify CI wheel build
  .gitattributes
  .github/workflows/publish-python-server.yml
  python-server/setup.py
Due: mypy-check, pytest-unit

chore: remove ruff from pre-commit and gitignore
  .gitignore
  .pre-commit-config.yaml
Due: none

feat(wheel): install Go binary directly into bin/ without Python wrapper (#624)
  .gitattributes
  .github/workflows/ci-python-server.yml
  .github/workflows/publish-python-server.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  python-server/.gitignore
  python-server/DEVELOPMENT.md
  python-server/README.md
  python-server/evalhub_server/__init__.py
  python-server/evalhub_server/binaries/.gitkeep
  python-server/evalhub_server/main.py
  python-server/pyproject.toml
  python-server/setup.py
  python-server/shims/eval-hub-server
  python-server/shims/eval-hub-server.cmd
  python-server/tests/test_get_binary_path.py
  python-server/tests/test_integration.py
  python-server/tests/test_main.py
  python-server/uv.lock
  tests/features/evaluation_local_jobs.feature
  tests/features/step_definitions_test.go
Due: mypy-check, pytest-unit, go-test

fix(evalhub-mcp): wire EVALHUB_CA_CERT_PATH into the EvalHub HTTP client (#631)
  internal/evalhub_mcp/config/config.go
  internal/evalhub_mcp/config/config_test.go
  internal/evalhub_mcp/server/server.go
  pkg/evalhubclient/client.go
Due: go-test

docs: regenerate API docs
  docs/index-private.html
  docs/index-public.html
  docs/index.html
Due: none

chore: update dependencies
  go.mod
  go.sum
Due: none

bump: version 0.4.2 → 0.4.3
  Containerfile
  cmd/eval_hub/main.go
  cmd/evalhub_mcp/main.go
  docs/index-private.html
  docs/index-public.html
  docs/index.html
  docs/openapi-internal.json
  docs/openapi-internal.yaml
  docs/openapi.json
  docs/openapi.yaml
  docs/src/openapi.yaml
Due: go-test

ci: bump remaining workflow GitHub Actions to latest
  .github/workflows/ci-python-server.yml
  .github/workflows/commitlint.yml
  .github/workflows/publish-python-server.yml
  .github/workflows/release-mcp.yml
Due: none

ci: restore pypa-publish commit SHA for v1.14.0
  .github/workflows/publish-python-server.yml
Due: none

fix: update .github/workflows/release-mcp.yml
  .github/workflows/release-mcp.yml
Due: none

docs: regenerate API docs
  docs/index-private.html
  docs/index-public.html
  docs/index.html
  package.json
Due: none
